$color: #FE724C;

.cart {
    max-width: 515px;
    width: 100%;

    &__title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 37px;
    }

    &__list {
        display: grid;
        gap: 27px;
    }

    &__sum {
        display: flex;
        justify-content: space-between;
        margin-top: 124px;

        h3 {
            font-size: 19px;
            font-weight: 400;
        }

        span {
            color: #9796A1;
            font-size: 14px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 21px;
    }

    &__img {
        width: 82px;
        height: 82px;
        box-shadow: 0 8px 25px 0 rgba(224, 219, 196, 0.9);
        border-radius: 20px;
        object-fit: cover;
        grid-row: span 2;
    }

    &__name {
        font-weight: 600;
        font-size: 18px;
        margin-top: 6px;
    }

    &__price {
        font-weight: 600;
        color: $color;
    }

    &__controls {
        display: flex;
        align-items: center;
        margin-top: 7px;
        gap: 7px;
    }

    &__minus {
        border: 1px solid $color;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: $color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    &__amount {
        font-weight: 600;
    }

    &__plus {
        @extend .cart__minus;
        box-shadow: 0 7px 15px 0 rgba(254, 114, 76, 0.4);
        background: #fe724c;
        color: #fff;
    }

    &__del {
        margin-left: 10px;
    }
}