.btn {
    border-radius: 28px;
    box-shadow: 0 10px 40px 0 rgba(122, 129, 190, 0.16);
    background: #fe724c;
    color: #fff;
    padding: 9px;
    display: flex;
    align-items: center;
    gap: 9px;
    
    
    &.active {
        justify-content: center;
        padding: 20px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 auto; 
    }
}